{{template "header" .}}

	<div class="container">
		
		<div class="row" style="text-align: center;">
      		<h3 class="courseTitle" style="text-align: center;">CS-155-01</h3>
      	</div>
      	
      	<div class="row" style="text-align: center;">
      
      		<div id="courseDescription"><p>In this course we will learn how to print "Hello World" in several different ways!</p></div>
    
   		</div>
   
    	<div class="row headerStudent">
			<div class="col-md-4">
				<h4>Assignment</h4>
			</div>
			<div class="col-md-3">
				<h4>Due Date</h4>
			</div>
			<div class="col-md-3">
				<h4>Grade</h4>
			</div>
			<div class="col-md-1">
				<h4>Comments</h4>
			</div>
		</div>
		<br>
		
		<div class="row rowStudent">
			<a href="loadPage();">
				<div class="col-md-4">
					<h4>BST</h4>
				</div>
				<div class="col-md-3">
					<h4>4/22/2017</h4>
				</div>
				<div class="col-md-3">
					<h4 style="margin-left:10px;">85</h4>
				</div>
			</a>
			<div class="col-md-1">
				<button data-target="#comment" type="button" class="btn btn-default commentBtn" data-toggle="modal"><span class="glyphicon glyphicon-comment"></span></button>
			</div>
		</div>
		
		<div class="row rowStudent">
			<a href="loadPage();">
				<div class="col-md-4">
					<h4>Assignment 2</h4>
				</div>
				<div class="col-md-3">
					<h4>4/29/2017</h4>
				</div>
				<div class="col-md-3">
					<h4 style="margin-left:10px;">--</h4>
				</div>
			</a>
			<div class="col-md-1">
				<button data-target="#comment" type="button" class="btn btn-default commentBtn" data-toggle="modal"><span class="glyphicon glyphicon-comment"></span></button>
			</div>
		</div>
	</div>
	
<!-- Comment Modal -->
    <div id="comment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Comments</h4>
                </div>
               
           		<div class="comment">
					<p>Do not use global variables. Use tabs or spaces, not both.</p>
	       		</div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- End comment Modal -->
{{template "footer"}}