{{template "header" .}}
<div class="container">
    <div class = "row">
        <div class = "col-md-4">
            <a class="userButtons" onclick="loadIndividualCoursePage();">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">CS-155-01</h4>
                        <p class="card-text">Computer-Science 1</p>
                        <h3 class="card-text">FALL 2017</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> 
{{template "footer"}}