{{template "header" .}}
  <div class="row" style="text-align: center;">
      <a onclick="loadIndividualCoursePage();" style="text-decoration: none;"><h3 class="courseTitle" style="text-align: center;">CS-155-01</h3></a>
      <a class = "btn coursePageButtons" onclick="loadInstructorAssignments();" role = "button"><h3 class="color">Assignments</h3></a>
      <a class = "btn coursePageButtons" onclick="loadInstructorGrades();" role = "button"><h3 class="color">Grades</h3></a>
      <a class = "btn coursePageButtons" onclick="loadInstructorSubmissions();" role = "button"><h3 class="color">Submissions</h3></a>
   </div>
   
  <div class="container" style="margin-top: 3vh;">
      
    <div class="row" style="text-align: center; margin-bottom: 15px;">
        <button type="button" class="btn btn-lg coursePageButtons" data-target="#exportSubs" data-toggle="modal"><h3 class="color">Export Submissions</h3></button>
    </div>
  		<form>
  			
    		<div class="form-group">
                <label for="subAssignment">Select assignment:</label>
                <select class="form-control formFieldsStyle" id="subAssignment" required="">
                    <option value="" disabled selected>Assignments</option>
                    <option value="1">BST</option>
                    <option value="2">Assignment 2</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="subStudent">Select student:</label>
                <select class="form-control formFieldsStyle" id="subStudent" required="">
                    <option value="" disabled selected>Students</option>
                    <option value="Lannister">Lannister, Tyrion</option>
                    <option value="Snowden">Snowden, Edward</option>
                </select>
            </div>

    		<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
    			<button type="submit" class="btn btn-default" id="createUserBtn" style="text-align: center">Search</button>
    		</div>
    		
    	</form>
    	
    	<div class="row headerStudent">
			<div class="col-md-3">
				<h4>Assignment</h4>
			</div>
			<div class="col-md-3">
				<h4>Name</h4>
			</div>
			<div class="col-md-3">
				<h4>Submitted</h4>
			</div>
			<div class="col-md-3">
				<h4 style="text-align: center;">Analyze/Comment/Grade</h4>
			</div>
		</div>
		<br>
		<div class="row rowStudent">
			<div class="col-md-3">
				<h4>BST</h4>
			</div>
			<div class="col-md-3">
				<h4>Lannister</h4>
			</div>
			<div class="col-md-3">
				<h4>I am a time stamp</h4>
			</div>
			<div class="col-md-3">
				<button data-target="#analyze" type="button" class="btn btn-default analyzeBtn" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
				<button data-target="#comment" type="button" class="btn btn-default commentBtn" data-toggle="modal"><span class="glyphicon glyphicon-comment"></span></button>
				<button data-target="#grade" type="button" class="btn btn-default gradeBtn" data-toggle="modal"><span class="glyphicon glyphicon-education"></span></button>
			</div>
		</div>
   
  </div>

 <!-- analyze Modal -->
    <div id="analyze" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Analysis Results</h4>
                </div>
                <div class="modal-body">
                    	<p>
                    		Test Case 1: Pass<br>
                    		Test Case 2: Pass<br>
                    		Test Case 3: Fail<br>
                    		Test Case 4: Pass<br>
                    		Test Case 5: Pass<br>
                    		
                    		Overall: 80% 
                    	</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button data-target="#code" type="button" class="btn btn-primary" data-toggle="modal">View Submitted Code</button>
                </div>
            </div>
        </div>
    </div>
<!-- End analyze Modal -->

<!-- Comment Modal -->
    <div id="comment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Comment (240 Chars)</h4>
                </div>
               <form>
               		<div>
						<textarea class="comment" id="commentField" maxlength="240" required=""></textarea>
		       		</div>
		       		<div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
               </form>
            </div>
        </div>
    </div>
<!-- End comment Modal -->

<!-- grade Modal -->
    <div id="grade" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Assign Grade</h4>
                </div>
                <div class="modal-body">
	               <form style="margin: 0 auto;">
	               		<div class="form-group">
							<input type="number" step="0.1" class="form-control formFieldsStyle" id="grade" placeholder="0.0" maxlength="4" required="">
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
	               </form>
               	</div>
            </div>
        </div>
    </div>
<!-- End grade Modal -->

<!-- code Modal -->
    <div id="code" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Submitted Code</h4>
                </div>
                <div class="modal-body">
	               <p>
	               	HERE BE CODE, ARRRR!
	               </p>
               	</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- code grade Modal -->

<!-- Export Modal -->
    <div id="exportSubs" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Download Submissions for Assignment</h4>
                </div>
                <div class="modal-body">
                   <form style="margin: 0 auto;">
                        <div class="form-group">
                            <label for="exportAssign">Select Assignment:</label>
                            <select class="form-control formFieldsStyle" id="exportAssign" required="">
                                <option value="" disabled selected>Assignments</option>
                                <option value="BST">BST</option>
                                <option value="Assignment 2">Assignment 2</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Download</button>
                        </div>
                   </form>
               </div>
                
            </div>
        </div>
    </div>
<!-- End Export Modal -->
{{template "footer"}}
<script>
//         history.replaceState('assignments.html', 'Title of the page', 'unapet.com');
</script>